.offers__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.offer-img {
    width: 70rem;
    height: 70rem;   
}
.offers-title {
    font-size: 4.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: -4rem;
}
.offers-cms, .offers-payment, .offers-store {
    margin: 2rem;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 3rem 2.5rem 3rem 2rem rgba(128, 128, 128, 0.097);
    transition: all 0.3s ease;
}
.offers-cms {
    border-left: solid 0.5rem #f1c40f;
}
.offers-payment {
    border-left: solid 0.5rem #e67e22;
}
.offers-store {
    border-left: solid 0.5rem #c0392b;
}
.offers-cms:hover, .offers-payment:hover, .offers-store:hover {
    margin-left: 1rem;
    transition: 0.8s;
}
.offers-cms:hover {
    background-color: #fff4ef; 
}
.offers-payment:hover {
    background-color: #fff4ef;
}
.offers-store:hover {
    background-color: #fff4ef;
}




